body {
  background: #EEEEEE url("http://150hv.com/Pics/Stars.jpg") center center;
}

canvas {
  background: #EEEEEE url("http://150hv.com/Pics/Stars.jpg") center center;
  width: 150px;
  border: 5px solid grey;
  border-radius: 20px;
  float: left;
  opacity: 0.9;
}

canvas.field {
  height: 150px;
}

div.row {
  width: 456px;
  margin: 0 auto;
  align-items: center;
}

div#container {
  width: 100%;
}

h3{
  text-align: center;
}

.messages {
  color: yellow;
  text-align: center;
}

.trek {
  color: yellow;
  text-shadow: 2px 2px #ff0000;
  font-size: 48;
  font-style:italic;
  text-align: center;
}

#D7 {
  width: 145px;
  height: 150px;
  border: 5px solid red;
  border-radius: 20px;
}

#NC1701 {
  width: 145px;
  height: 150px;
  border: 5px solid blue;
  border-radius: 20px;
}

#newGame {
  width: 145px;
  height: 75px;
  margin-top: 75px;
  border: 5px solid grey;
  border-radius: 20px;
  text-align: center;
}

#reset {
  width: 145px;
  height: 75px;
  margin-top: 75px;
  border: 5px solid grey;
  border-radius: 20px;
  text-align: center;
}

.buttons {
  text-align: center;
  align-self: center;
}
